body {
  font-family: helvetica;
  color:#888;
  margin-left: auto;
  margin-right: auto;
  width:800px;
  background-color: lightgrey;
}

audio {
  width:100%;
}

.content {
  width:800px;
  font-weight: bold;
  border-radius: 5px;
  border-color: #000000;
  border-width: 5px;
}

.player-container {
  background:#000;
  padding:3px;
  font-weight: bold;
  border-radius: 5px;
  border-color: #000000;
  border-width: 5px;
  color:#ccc;
}

.library-container {
  width:50%;
  vertical-align: top;
  font-size: 12px;
  padding:5px;
}

.queue-container {
  width:50%;
  vertical-align: top;
  font-size: 12px;
  padding:5px;
}

.library-item {
  padding:3px;
  margin-top:5px;
}

.library-item:hover {
  background-color: #888;
  color:#FFF; 
  border-radius: 5px;
}

.title {
  font-size: 13px;
  font-weight: bold;
} 

.song-artwork-url {
  float: left;
  padding-right: 10px;
  padding-bottom:10px;
}
