var scConfig = {};
scConfig.sc_client_id = "SOUNDCLOUD_CLIENT_ID_GOES_HERE";
scConfig.sc_user_id = "SOUNDCLOUD_USER_ID_GOES_HERE";
scConfig.server = "http://api.soundcloud.com/users/"+scConfig.sc_user_id+"/favorites";
scConfig.qs = '?client_id=' + scConfig.sc_client_id;
scConfig.url = scConfig.server + scConfig.qs;
